/* .vitepress/theme/custom.css */

:root {
  --vp-c-brand-1: #489169;  /* name */
  --vp-c-brand-2: #B43230;  /* brand botton hover */
  --vp-c-brand-3: #489169;  /* brand button background */
}

.dark {
  --vp-c-brand-1: #ff0;  /* name */
  --vp-c-brand-2: #444;  /* brand botton hover */
  --vp-c-brand-3: #333;  /* brand button background */
  
}

/*
Fab Green:  #489169
Fab Red:    #B43230  
Fab Blue:   #203A61
Fab Yellow: #FEFF54
*/